mnemonic = ""

p2p_port = 0
rpc_port = 3000

boot_nodes = [
  "/dnsaddr/bootstrap.libp2p.io/p2p/QmNnooDu7bfjPFoTZYxMNLWUQJyrVwtbZg5gBMjTezGAJN",
  "/dnsaddr/bootstrap.libp2p.io/p2p/QmQCU2EcMqAqQPR2i9bChDtGNJchTbq5TbXJJ16u19uLTa",
  "/dnsaddr/bootstrap.libp2p.io/p2p/QmbLHAnMoJPWSCR5Zhtx6BHJX9KiKNN6tpvbUcqanj75Nb",
  "/dnsaddr/bootstrap.libp2p.io/p2p/QmcZf59bWwK5XFi76CZX8cbJ4BhTzzA3gU1ZjYZcYW3dwt",
  "/ip4/104.131.131.82/tcp/4001/p2p/QmaCpDMGvV2BGHeYERUEnRQAwe3N8SzbUtfsmvsqQLuvuJ",
]

[network]
  rpc_url = "https://nodes.sequence.app/arbitrum-nova"
  validator_contract = "0x3B206b315c2C4130E0602858af1812BE87795Cb0"

[mempool]
  ipfs_url = "http://localhost:5001"
  max_size = 1000

[senders]
  num_senders = 3

[logging]
  service       = "bundler"
  level         = "INFO"
  # json          = true
  concise       = true
  req_headers   = false
  resp_headers  = false
  # source        = "source"
